@font-face {
    font-family: 'Montserrat Regular';
    src: url(../fonts/Montserrat/montserrat-regular.woff2) format('woff2'),
    url(../fonts/Montserrat/montserrat-regular.woff") format('woff'),
    url(../fonts/Montserrat/montserrat-regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url(../fonts/Montserrat/montserrat-light-webfont.woff2) format('woff2'),
         url(../fonts/Montserrat/montserrat-light-webfont.woff) format('woff'),
         url(../fonts/Montserrat/montserrat-light.ttf) format('ttf');
}


@font-face {
    font-family: 'Montserrat Extra Light';
    src: url(../fonts/Montserrat/montserrat-extralight-webfont.woff2) format('woff2'),
         url(../fonts/Montserrat/montserrat-extralight-webfont.woff) format('woff');
}


@font-face {
    font-family: 'Raleway Bold';
    src: url(../fonts/Raleway/raleway-bold-webfont.woff2) format('woff2'),
         url(../onts/Raleway/raleway-bold-webfont.woff) format('woff');
}


@font-face {
    font-family: 'Raleway Extra Bold';
    src: url(../fonts/Raleway/raleway-extrabold-webfont.woff2) format('woff2'),
         url(../fonts/Raleway/raleway-extrabold-webfont.woff) format('woff');
}


@font-face {
    font-family: 'Raleway Medium';
    src: url(../fonts/Raleway/raleway-medium-webfont.woff2) format('woff2'),
         url(../fonts/Raleway/raleway-medium-webfont.woff) format('woff');
}


@font-face {
    font-family: 'Raleway Regular';
    src: url(../fonts/Raleway/raleway-regular-webfont.woff2) format('woff2'),
         url(../fonts/Raleway/raleway-regular-webfont.woff) format('woff');
}




@font-face {
    font-family: 'Raleway SemiBold';
    src: url(../fonts/Raleway/raleway-semibold-webfont.woff2) format('woff2'),
         url(../fonts/Raleway/raleway-semibold-webfont.woff) format('woff');
}


@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/roboto-regular-webfont.woff2) format('woff2'),
         url(../fonts/Roboto/roboto-regular-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    margin: 0 auto;
}


header {
    position: relative;
    top: 0;
}


.navigation {
    padding-top: 40px;
    padding-bottom: 285px;
    display: flex;
    position: relative;
    z-index: 6;
}


.logo {
    margin-left: 376px;
    margin-right: 219px;
    height: 56px;
    width: 181px;
    margin-top: -21px;
}

.navigation figure {
    margin-left: 0;
    margin-right: 0;
}

.navigation label {
    margin-right: -1100px;
    width: 50px;
    height: 50px;
    display: none;
    background-image: url(../img/mobile-menu.png);
    background-size: 100%;
}

#menu {
    visibility: hidden;
}

input[type="checkbox"]:checked ~ nav .menu {
    visibility: visible;
}

.menu {
    display: flex;
    list-style: none;
}

.menu a {
    margin-right: 30px;
    font-family: Montserrat Light, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
}

.menu a:hover {
    color: #c7b29a;
}

.cart {
    margin-left: 33px;
    margin-right: 28px;
}

input[type="search"] {
    padding-left: 7px;
    width: 24px;
    height: 26px;
    outline: none;
    background: transparent;
    background-image: url(../img/icon-search.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    transition: width 1s ease-out;
}

input[type="search"]:hover {
    cursor: pointer;
}

input[type="search"]:focus {
    width: 200px;
    
    background-position: right;
    border: 1px solid gray;
    background-color: lightgray;
}


/*
input[type="search"]:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-position: right;
    border: 1px solid gray;
    background-color: lightgray;
}
*/


.slider_box {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 6;
}

.slider_name {
    text-align: center;
}

.caption_item_1 {
    display: block;
    font-family: Raleway Medium;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 19px;
}

.caption_item_2 {
    display: block;
    font-family: Raleway Extra Bold;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.tagline {
    width: 562px;
    font-family: Montserrat Light;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 52px;
}

.start {
    width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway Extra Bold;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    margin-bottom: 329px;
}

.start:hover {
    background-color: #907a66;
    color: #e7dcdc;
}


/*начало слайдера*/

#slider {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}


#slides .inner {
    -webkit-transform: translateZ(0);
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides .inner {
    width: 500%;
    line-height: 0;
    height: 1020px;
}

#slides .slide {
    width: 20%;
    float: left;
    display: block;
    height: 100%;
    color: #FFFFFF;
}

#slides .slide_1 {
    background-image: url(../img/slider_3.jpg);
}

#slides .slide_2 {
    background-image: url(../img/slider_2.jpg);
}

#slides .slide_3 {
    background-image: url(../img/slider_1.jpg);
}

#controls {
    margin: -130px 0 0 0;
    width: 100%;
    height: 50px;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 40px;
    height: 73px;
    opacity: 0.4;
    z-index: 11;
    position: relative;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1) {
    background: url(../img/right_arrow.png) no-repeat;
    float: right;
    margin: -375px 90px 0 0;
    display: block;
}

#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2) {
    background: url(../img/left_arrow.png) no-repeat;
    float: left;
    margin: -375px 0 0 90px;
    display: block;
}

#bullets {
    margin: 50px 0 0;
    text-align: center;
    position: relative;
    z-index: 5;
}

#bullets label {
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
    background: #333;
}

/*конец слайдера*/

.services {
    background-color: #ffffff;
    padding-top: 89px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
}

.services a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 33px 0 0;
    text-decoration: none;
    justify-content: center;
}


.services a:last-child {
    margin-right: 0;
}

.services .icon {
    fill: #545454;
    display: block;
}

.services span {
    font-family: Raleway SemiBold;
    color: #555555;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.services p {
    width: 266px;
    font-family: Montserrat Light;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: 24px 0 30px 0;
}

.service_link:after {
    content: '';
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #f2efea;
}

.service_link:hover .icon {
    fill: #c8b39a;
}

.service_link:hover span {
    color: #c8b39a;
}

.service_link:hover:after {
    background-color: #c8b39a;
}


.realization {
    background-image: url(../img/karusel_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 83px;
    background-color: #fbfaf8;
}

.realization span,
.latest_project > span,
.for_mobile_text span,
.recent_posts > span {
    font-family: Raleway SemiBold;
    color: #555555;
    font-size: 30px;
    font-weight: 600;
}

.realization p,
.latest_project p,
.for_mobile_text p,
.recent_posts > p {
    font-family: Montserrat Light;
    width: 757px;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.realization p {
    margin-top: 24px;
    margin-bottom: 500px;
}


aside {
    background: rgba(27, 20, 18, 1);
    background: -moz-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27, 20, 18, 1)), color-stop(97%, rgba(77, 49, 34, 1)), color-stop(98%, rgba(77, 49, 34, 1)), color-stop(99%, rgba(77, 49, 34, 1)), color-stop(100%, rgba(77, 49, 34, 1)));
    background: -webkit-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: -o-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: -ms-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: linear-gradient(to right, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1412', endColorstr='#4d3122', GradientType=1);
    display: flex;
    padding-bottom: 49px;
    padding-top: 48px;
}

.text_aside {
    padding-left: 376px;
    padding-right: 470px;
}

aside .pb {
    font-family: Raleway Regular;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 8px 0;
}

aside .pb span {
    color: #c7b299;
}

.purchase,
.load_more {
    width: 170px;
    height: 50px;
    border-radius: 3px;
    background-color: #998675;
    font-family: Raleway Extra Bold;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.purchase:hover {
    background-color: #907a66;
    color: #e7dcdc;
}

.load_more:hover {
    background-color: #907a66;
    color: #e7dcdc;
}

aside .ps {
    font-family: Montserrat Light;
    color: #615855;
    font-size: 18px;
    text-align: left;
    margin: 0;
}

.latest_project {
    padding-top: 81px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest_project p {
    padding-top: 24px;
    padding-bottom: 40px;
}

.filters {
    list-style: none;
    display: flex;
}

.filters a {
    text-decoration: none;
    font-family: Montserrat Light;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px 20px;
    margin-right: 10px;
}

.filters a:hover {
    color: #ffffff;
    background-color: #998675;
}

.filters li:last-child {
    margin-right: 0;
}

.article_box {
    width: 1170px;
    height: 704px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.article {
    width: 370px;
    height: 337px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
}

.article img {
    background-color: #000;
}


.name_of_article {
    display: block;
    font-family: Raleway Medium;
    color: #c7b29a;
    font-size: 20px;
    text-align: left;
}

.theme_of_article {
    display: block;
    font-family: Montserrat Light;
    color: #d1d1d1;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.article_text {
    position: relative;
    background-color: #fbfaf8;
    padding: 30px 0 29px 30px;
}

.article_text:before {
    content: '';
    border: 20px solid transparent;
    border-bottom: 20px solid #fbfaf8;
    position: absolute;
    top: -40px;
    right: 300px;
}

.article_icon {
    fill: #ffffff;
}

.article a {
    position: absolute;
}

.article .hiperlink {
    padding-top: 106px;
    padding-left: 144px;
    visibility: hidden;
    z-index: 1;
}

.article .article_search {
    padding-top: 106px;
    padding-left: 198px;
    visibility: hidden;
}

.article:hover img {
    opacity: 0.5;
}

.article:hover .article_text {
    background-color: #362f2d;
}

.article:hover .article_text:before {
    border-bottom: 20px solid #362f2d;
}

.article:hover .hiperlink,
.article:hover .article_search {
    visibility: visible;
}

.article:hover .name_of_article {
    color: #ffffff;
}

.article:hover .theme_of_article {
    color: #c7b299;
}

.article_icon:hover {
    fill: #c7b299
}

.load_more {
    margin-bottom: 80px;
}

.video_clip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.bg_video {
    position: absolute;
    overflow: hidden;
    z-index: -999;
    min-height: 870px;
    max-height: 870px;
    display: block;
    width: 100%;
    max-width: 2560px;
}

.video_clip video {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    width: 125%;
}

.video_clip .circle_play {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 210px;
}

.video_clip svg {
    fill: #ffffff;
}

.video_clip svg:hover {
    fill: #c8b39a;
}

.video_clip span {
    padding-top: 44px;
    color: #ffffff;
    font-family: Raleway Medium;
    font-size: 30px;
}

.video_clip .video_time {
    font-family: Montserrat Light;
    color: #c7b299;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 207px;
}

.video_clip p {
    width: 552px;
    color: #ffffff;
    font-family: Montserrat Light;
    font-size: 16px;
    line-height: 28px;
    padding-top: 29px;
}

.for_mobile {
    background-color: #fbfaf8;
    padding-top: 78px;
    padding-left: 423px;
    display: flex;
}

.for_mobile_text {
    width: 700px;
    margin-left: 32px;
    padding-top: 116px;
}

.for_mobile_text span {
    display: block;
    padding-bottom: 40px;
}

.for_mobile_text ul {
    list-style: none;
    padding-left: 60px;
}



.for_mobile_text ul li {
    color: #8c8c8c;
    font-family: Montserrat Light;
    font-size: 16px;
    line-height: 32px;
}

.for_mobile_text ul li:before {
    content: "";
    background: url(../img/marker_for_mobile.png);
    background-size: cover;
    float: left;
    height: 21px;
    width: 21px;
    margin-top: 5px;
    margin-right: 29px;
}

.for_mobile_text p {
    text-align: left;
    padding-bottom: 45px;
}

.stat {
    background: rgba(27, 20, 18, 1);
    background: -moz-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27, 20, 18, 1)), color-stop(97%, rgba(77, 49, 34, 1)), color-stop(98%, rgba(77, 49, 34, 1)), color-stop(99%, rgba(77, 49, 34, 1)), color-stop(100%, rgba(77, 49, 34, 1)));
    background: -webkit-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: -o-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: -ms-linear-gradient(left, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    background: linear-gradient(to right, rgba(27, 20, 18, 1) 0%, rgba(77, 49, 34, 1) 97%, rgba(77, 49, 34, 1) 98%, rgba(77, 49, 34, 1) 99%, rgba(77, 49, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1412', endColorstr='#4d3122', GradientType=1);
    display: flex;
    padding-bottom: 60px;
    padding-top: 69px;
    justify-content: center;
    align-items: flex-end;
}

.stat_icon {
    fill: #a08e7a;
}

.stat_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 106px;
}

.stat_item:last-child {
    margin-right: 0;
}

.stat_item .number {
    display: block;
    color: #ffffff;
    font-family: Montserrat Extra Light;
    font-size: 48px;
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 21px;
}

.stat_item .remark {
    display: block;
    color: #c7b299;
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;
}

.stat_item figcaption:after {
    content: " ";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 30px;
}

.recent_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding-top: 82px;
    text-align: center;
}

.recent_posts p {
    padding-top: 30px;
    padding-bottom: 40px;
}

.posts_box {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.post {
    border: 1px solid #f8f8f8;
    width: 371px;
    height: 395px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 30px;
}

.post:last-child {
    margin-right: 0;
}

.post_text {
    padding: 30px 44px 33px 29px;
    height: 175px;
    background-color: #ffffff;
    text-align: left;
}

.post_text span {
    color: #555555;
    font-family: Raleway Medium;
    font-size: 20px;
    font-weight: 500;
}

.post_text p {
    display: inline-block;
    padding-top: 19px;
    padding-bottom: 27px;
    color: #8c8c8c;
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 22px;
}

.post_text a {
    position: relative;
    color: #c7b299;
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}


.post_text a:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 83px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #c8b39a;

}

.post_text a:hover {
    color: #ffffff;
}

.post_text a:hover:after {
    border-left-color: #ffffff;
}

.date_label {
    width: 50px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.date_of_post {
    height: 35px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date_of_post span {
    color: #ffffff;
    font-family: Montserrat Light;
    font-size: 24px;
    line-height: 20px;
}

.month_of_post {
    height: 25px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month_of_post span {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 12px;
    line-height: 20px;
}

.post:hover img {
    opacity: 0.7;
}

.post:hover .post_text {
    background-color: #362f2d;
}

.post:hover .post_text span {
    color: #c7b299;
}

.post:hover .post_text p {
    color: #ffffff;
}

.post:hover .date_of_post {
    background-color: #c7b299;
}

.post:hover .month_of_post {
    background-color: #a48d72;
}

.post:hover .date_of_post span,
.post:hover .month_of_post span {
    color: #ffffff;
}

.arrow_box {
    padding-bottom: 80px;
}

.arrow_box svg {
    fill: #d2d2d2;
}

.arrow_box svg:hover {
    fill: #c8b39a;
}

.partners {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 405px;
    background-image: url(../img/bg_partners.jpg);
    background-size: cover;
}

.bottom_panel {
    background-color: #191919;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 81px;
}

.about_Waxom {
    width: 258px;
    margin-top: -18px;
    margin-right: 42px;
}

.about_Waxom p {
    color: #555555;
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 24px;
    padding-top: 29px;
    padding-bottom: 33px;
}

.about_Waxom a {
    position: relative;
    color: #d1d1d1;
    font-family: Montserrat Light;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.about_Waxom a:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 83px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
}

.about_Waxom a:hover {
    color: #c7b299;
}

.about_Waxom a:hover:after {
    border-left-color: #c7b299;
}

.dupl_posts {
    width: 270px;
    display: flex;
    flex-direction: column;
    margin-right: 39px;
}


.post_item {
    word-break: break-all;
}

.post_item span {
    color: #363636;
    font-family: Montserrat Light;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.post_item p {
    color: #555555;
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 20px;
}

.post_item::after {
    content: '';
    display: inline-block;
    width: 270px;
    height: 2px;
    background-color: #252525;
}

.post_item:hover span {
    color: #ffffff;
}

.post_item:hover p {
    color: #c7b299;
}

.twitter {
    width: 267px;
    margin-right: 33px;
}

.twit p {
    color: #555555;
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 20px;
}

.twit p > span {
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 20px;
    color: #00bff3;
}

.twit > span {
    color: #363636;
    font-family: Montserrat Light;
    font-size: 12px;
    line-height: 20px;
}

.twit .link_twit {
    font-family: Montserrat Light;
    font-size: 14px;
    line-height: 20px;
    color: #959595;
}

.twit:after {
    content: '';
    display: inline-block;
    width: 270px;
    height: 2px;
    background-color: #252525;

}

.headline {
    display: block;
    color: #ffffff;
    font-family: Raleway Bold;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.img_box {
    width: 270px;
    height: 211px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.img_box img:hover {
    box-shadow: 0 0 5px #ffffff;
}

.copyright {
    background-color: #111111;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 52px;
}

.copyright_left {
    display: flex;
    padding-right: 449px;
}

.copyright_right {
    display: flex;
}

.copyright_left p,
.copyright_left a,
.copyright_right p {
    color: #555555;
    font-family: Montserrat Light;
    font-size: 13px;
    line-height: 20px;
    margin-left: 7px;
    margin-right: 7px;
}



.copyright_left span,
.copyright_right span {
    color: #959595;
}

.copyright_right span {
    padding-right: 17px;
}

.copyright_left ul {
    list-style: none;
    display: flex;
}

.copyright_left a {
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}

.copyright_left li:before,
.copyright_right p:after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 13px;
    background-color: #252525;
}

.copyright_right p:last-child::after {
    display: none;
}

.copyright_left a:hover {
    color: #c7b299;
}




@media (max-width: 605px) {

    body {
        max-width: 605px;
    }

    .logo {
        margin: 0 0 0 10px;
    }


    .navigation {
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;
    }

    .cart {
        display: none;
    }

    input[type="search"] {
        display: none;
    }

    .navigation label {
        display: block;
    }

    .slider_box {
        display: none;
    }

    #slider {
        display: none;
    }

    header {
        background-image: url(../img/slider_1.jpg);
        background-size: cover;
    }

    .menu {
        position: absolute;
        left: 300px;
        visibility: hidden;
        margin: 0 auto;
        height: 40px;
        width: 150px;
        flex-direction: column;
    }

    .menu li {
        height: 40px;
        text-align: center;
        background-color: #ccc;
        margin-top: 2px;
    }


    .menu li a {
        width: 100%;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .service_link {
        padding-bottom: 40px;
    }

    .services a {
        margin: 0;
    }

    .realization {
        display: none;
    }

    aside {
        display: none;
    }

    .latest_project {
        padding-top: 15;
    }

    .latest_project p {
        width: 585px;
    }

    .filters {
        flex-wrap: wrap;
    }

    .filters a {
        padding: 7px 10px;
        margin-right: 5px;
    }

    .article_box .for_hide {
        display: none;
    }

    .article {
        margin-bottom: 15px;
    }

    .article_box {
        width: 585px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .video_clip .circle_play {
        margin-top: 60px;
    }

    .video_clip span {
        padding-top: 30px;
    }

    .video_clip .video_time {
        padding-bottom: 60px;
    }

    .for_mobile {
        background-image: url(../img/iphone-in-hand.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 308px 440px;
        padding-top: 20px;
        padding-left: 10px;
        display: flex;
    }

    .for_mobile_hide {
        display: none;
    }

    .for_mobile_text {
        width: 540px;
        margin-left: 32px;
        padding-top: 30px;
    }

    .for_mobile_text span {
        text-align: center;
    }

    .for_mobile_text p {
        width: 560px;
    }

    .for_mobile_text ul {
        padding-bottom: 200px;
        padding-left: 220px;
    }

    .stat .for_hide {
        display: none;
    }

    .stat {
        flex-wrap: wrap;
        padding: 30px 50px 0 50px;
        justify-content: space-around;
    }

    .stat_item {
        margin-right: 40px;
        margin-left: 40px;
        padding-bottom: 30px;
    }

    .stat_item:last-child {
        margin-right: 40px;
    }

    .stat_item .number {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .stat_item .remark {
        line-height: 9px;
    }

    .stat_item figcaption:after {
        margin-top: 10px;
    }

    .recent_posts > p {
        width: 560px;
    }

    .posts_box {
        flex-direction: column;
    }

    .post {
        margin-right: 0;
        margin-bottom: 35px;
    }

    .arrow_box {
        display: none;
    }

    .partners {
        height: 180px;
        background-size: 605px 180px;
        background-repeat: no-repeat;
        padding: 0;
        justify-content: space-around;
    }

    .partners img {
        width: 100px;
    }

    .bottom_panel {
        flex-direction: column;
        align-items: center;
    }

    .bottom_panel .for_hide {
        display: none;
    }

    .about_Waxom {
        width: 70%;
        margin-bottom: 30px;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
    }

    .copyright_left {
        padding-right: 0;
    }

    .copyright_right {
        padding-top: 45px;
    }
}
